<div class="album-list-sidebar sidebar sidebar-left sidebar-scrolling" ng-if="albums.length > 0">
    <div class="scroller">
    <ul>
        <li>Albums</li>

        <li>
            <a ng-click="changeUser($event, user.username)" ui-sref="user({username: user.username})">Unsorted</a>
        </li>

        <li ng-repeat="album in albums" ng-class="{active: albumId == albums.albumId}">
            <a ng-click="changeAlbum($event, album.albumId)" ui-sref="album({albumId: album.albumId})"><img alt="{{ album.title }}" /></a>
        </li>
    </ul>
    </div>
</div>
