<footer>

    <!--<div style="float:left;">
        View:
        <a class="btn" href="#">Grid (Classic)</a>
        <a class="btn" href="#">Columns</a>
    </div>-->

    <ul class="links">
        <li>Created by <a href="https://themediadudes.com">The Media Dudes</a></li>
        <li><a href="https://api.ctrlv.in/docs"><i class="typ typ-flow-switch"></i> API</a></li>
        <li><a href="mailto:help@ctrlv.in"><i class="typ typ-mail"></i> Contact Us</a></li>
        <li><a href="https://github.com/antriver/ctrlv-frontend"><i class="typ typ-social-github"></i> GitHub</a></li>
        <li><a ui-sref="help"><i class="typ typ-info-large-outline"></i> Help</a></li>
        <li><a ui-sref="privacy"><i class="typ typ-lock-closed-outline"></i> Privacy</a></li>
        <li><a ui-sref="terms"><i class="typ typ-sort-alphabetically-outline"></i> Terms of Use</a></li>
    </ul>
</footer>
