<header class="clearfix">
    <a ui-sref="home" id="logo-container">
        <img src="/assets/img/ctrlv.svg" id="logo" />
    </a>

    <h1 id="page-title" ng-bind-html="title" ng-class="{'with-subtitle': subtitle}"></h1>
    <h3 id="page-subtitle" ng-bind-html="subtitle"></h3>

    <div  id="current-user">
        <div ng-if="user === false">
            <a id="login-btn" class="btn" href="#" ng-click="login()"><i class="typ typ-user"></i> Login or Signup</a>
        </div>
        <div ng-if="user">
            <h2>Hi <a ui-sref="user({ username: user.username.toLowerCase() })" ng-bind="user.username"></a></h2>
            <ul class="links">
                <li><a ui-sref="user-favourites({ username: user.username.toLowerCase() })"><i class="typ typ-heart-full-outline"></i> Favourites</a></li>
                <li><a ui-sref="settings"><i class="typ typ-spanner"></i> Options</a></li>
                <li><a href="#" ng-click="logout()"><i class="typ typ-lock-open"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</header>
