<div class="modal" ng-click="close()" id="image-privacy-modal">
    <div class="modal-content" ng-click="$event.stopPropagation()">

        <div class="container-fluid" >

            <div class="alert alert-warning" ng-if="image.albumId">
                This image is part of an album. Go to the <a href="#">albums settings</a> to make the album anonyous and/or password protected.
            </div>

            <div class="row" ng-if="!image.albumId">
                <div class="col-sm-6">

                    <h2><i class="typ typ-user"></i> Show Username <small>on this image.</small></h2>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <a ng-click="setAnon(0);" class="btn btn-block" ng-class="{'active': !image.anonymous}"><i class="typ typ-user"></i>Yes</a>
                            </div>
                            <div class="col-xs-6">
                                <a ng-click="setAnon(1);" class="btn btn-block" ng-class="{'active': image.anonymous}"><i class="typ typ-cancel-outline"></i>No</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">

                    <h2><i class="typ typ-lock-closed"></i> Password Protect <small>this image.</small></h2>

                    <div class="form-group">
                        <label>Enter a password that will be required for other people to view this image.</label>
                        (You will always be able to see it without the password.)
                        <input type="password" class="form-control" placeholder="Password" />
                    </div>

                    <a class="btn btn-block">Save</a>

                </div>
            </div>
        </div>

    </div>
</div>
