@font-face {
    font-family: 'Myriad Web Pro';
    src: url("@{assetUrl}fonts/myp/MyriadWebPro.eot");
    src: url("@{assetUrl}fonts/myp/MyriadWebPro.eot?#iefix") format('embedded-opentype'),
         url("@{assetUrl}fonts/myp/MyriadWebPro.woff") format('woff'),
         url("@{assetUrl}fonts/myp/MyriadWebPro.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

:first-child {
    margin-top:0 !important;
}

:last-child {
    margin-bottom:0 !important;
}

body {
    .no-select();
    //background:url("@{assetUrl}img/winterbg.jpg") top center;
    background:url("@{assetUrl}img/summerbg.jpg") top center;
    background-size: cover;
    background-attachment: fixed;
    color:#FFFFFF;
    font-size:13px;
}

input {
    .yes-select();
}


.content {
    margin: 30px auto;
    padding: 30px;
    background: rgba(0,0,0,.6);
    border: 2px #9b9583 solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 900px;
    position: relative;
    z-index: 1;
}
