@font-face {
    font-family: 'Myriad Web Pro';
    src: url("@{assetUrl}fonts/myp/MyriadWebPro.eot");
    src: url("@{assetUrl}fonts/myp/MyriadWebPro.eot?#iefix") format('embedded-opentype'),
    url("@{assetUrl}fonts/myp/MyriadWebPro.woff") format('woff'),
    url("@{assetUrl}fonts/myp/MyriadWebPro.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

:first-child {
    margin-top: 0 !important;
}

:last-child {
    margin-bottom: 0 !important;
}

body {
    background: url("@{assetUrl}img/summerbg.jpg") top center fixed;
    background-size: cover;
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.02em;

    // Darker background on not-homepage
    &:before {
        content: "";
        display: block;
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 100%);
        .transition-all(@slower-transition-speed);
    }

    &.home:before {
        opacity: 0;
    }
}

.ng-hide {
    display: none !important;
}

a:link,
a:visited {
    color: @green;
    text-decoration: none;
}

a:active,
a:hover {
    opacity: .9;
    color: darken(@green, 10%);
}

.green {
    color: @green;
}

.typ {
    color: @green;
}

h2 {
    font-size:24px;
}

hr {
    border-top: 1px solid @standard-border-color;
}

header {
    background: @box-bg-color;
    border: 0 @standard-border-color solid;
    border-bottom-width: @standard-border-width;
    padding: 15px 20px;
    min-height: @header-height;
    position: relative;
    width: 100%;
    .transition-all(@slower-transition-speed);
    margin: auto;

    h1 {
        margin: 6px auto 0;
        font-size: 28px;
        text-align: center;

        &.with-subtitle {
            margin: 0 auto 3px;
            font-size: 24px;
        }
    }

    h3,
    ul {
        margin: 0 auto;
        font-size: 13px;
        text-align: center;
        .transition-all(@slower-transition-speed);
        font-weight: normal;
    }

    h3 i:not(:first-child) {
        margin-left: 15px;
    }
}

#logo-container {
    display: block;
    position: absolute;
    top: 21px;
    left: 20px;
    z-index: 2;
    .transition-all(@slower-transition-speed);

    img {
        height: 28px;
        .transition-all(@slower-transition-speed);
    }
}

#current-user {
    .transition-all(@slower-transition-speed);
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 2;

    h2 {
        text-align: right;
        margin-bottom: 3px;
    }
}

#login-btn {
    margin-top: 5px !important;
}

ul.links {
    li {
        margin-left: 15px;
        display: inline-block;

        &:first-child {
            margin-left: 0;
        }
    }

    a {
        color: #fff;
    }
}

#loader {
    position: fixed;
    top:50%;
    left:50%;
    z-index:20;
    margin: -10px 0 0 -10px;
}


footer {
    clear: both;
    opacity: .8;
    font-size: 12px;
    text-align: center;
    padding: @standard-padding 18px 12px;
    color:  #333;

    ul.links a {
        color: #333;
    }
}



// Mobile
@media (max-width: @screen-xs-max) {

    header,
    .home header {
        border-width: 0 0 @standard-border-width 0;
        margin: 0 !important;
        padding: 10px;
        min-height: 0;
    }

    header h1 {
        font-size: 20px;
        margin-top: 10px;
        line-height: normal;

        i {
            display: none;
        }

        &:empty {
            display: none;
        }
    }

    #logo-container {
        position: static;
        //float: left;
        margin: auto;
        text-align: center;
    }

    #current-user {
        display: none;
        // TODO
    }

    footer {
        position: static;
        text-align: center;

        li {
            display: block;
        }
    }
}

