@font-family-sans-serif: "Myriad Web Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

@line-height-base: 1;

@green: #61e942;
@link-color: @green;

@box-bg-color: rgba(0, 0, 0, .5);

@standard-border-color: rgba(155, 149, 131, 1);
@standard-border-width: 1px;

@standard-padding-half: 15px;
@standard-padding: 30px;
@standard-padding-double: 60px;

@standard-transition-speed: 0.2s;
@slower-transition-speed: 0.4s;
@standard-transition-easing: ease-out;

// 15 (padding) + 40 (content) + 15 (padding) + 1 (border)
@header-height: 71px;

// 1 (border) + 30 (padding) + 40 (content) + 30 (padding)
@header-height-homepage: 101px;

@footer-height: 24px;
// 12 (content) + 12 (bottom padding)
@footer-height-padded: 54px;
// + 30px

// The width of the sidebar when the labels are visible
// This sets the with of the element, but should be calculated by looking
@img-left-sidebar-width: 57px;
@img-left-sidebar-expanded-width: 178px;

@uploader-height: 450px;
