.paginator {
    top:70px;
    right:0;
    bottom:0;
    border-top: @standard-border-width @standard-border-color solid;
    border-left: @standard-border-width @standard-border-color solid;
    //padding: 10px 0;

    height:100%;
    list-style: none;
    .vertical-center();

    li {
        display: block;
    }
    a {
        display: block;
        padding:@standard-padding-half;
        font-size: 16px;
    }
}
