<div id="uploader">

    <div id="uploader-collage" ng-bind-html="sprites"></div>

    <div class="upload-status" id="upload-waiting">
        <h2>The <span class="green">easiest</span> way to share photos.</h2>
        <h3>
            <span style="float:right;">
                You can also
                <a href="#" class="btn"><i class="typ typ-cloud-storage"></i> Upload Images</a>
                or
                <a href="#" class="btn"><i class="typ typ-camera"></i> Take a Photo</a>
            </span>

            <i class="spinner-waiting"></i>
            Press <span ng-if="mac" class="btn btn-cmd">cmd &#8984;</span><span ng-if="!mac" class="btn btn-ctrl">Ctrl</span>
            + <span class="btn btn-v">V</span> to paste an image.
        </h3>
    </div>

    <div class="upload-status out" id="upload-loading">
        <h3><i class="spinner-loading"></i> Uploading...</h3>
    </div>

    <div class="upload-status out" id="upload-error">
        <h3>Error</h3>
        <p></p>
    </div>

    <div class="upload-status out" id="upload-complete">
        <h3>Uploaded!</h3>
        <p>
            <label>
                Here's your link
                <input type="text" id="newImageURL" class="green" readonly="readonly" />
            </label>
        </p>
    </div>

</div>
