

<div class="img-wrapper">

    <div ng-if="loading">
        <i class="spinner-loading dark"></i>
    </div>

    <img
        ng-if="!loading && image"
        ng-src="{{ image.image.url }}"
        class="img"
        />

    <div ng-if="!loading" class="img-details">
        Uploaded by <a href="#">Jimmenybillybob</a>
        <div class="img-tools">
            <a class="btn">Crop</a>
            <a class="btn">Rotate</a>
            <a class="btn">Delete</a>
        </div>
    </div>

</div>
