<div ng-if="image" class="img-wrapper">
    <img
        ng-if="!loading && image"
        ng-src="{{ image.image.url }}"
        class="img"
        id="img"
        />
</div>

<div
    ng-if="!loading && image"
    class="sidebar sidebar-left sidebar-float img-left-sidebar"
    ng-class="{
        'editable': user && user.userId === image.userId,
        'cropping': cropping,
        'annotating': annotating,
        'revertable': image.hasOriginal
    }"
    >

    <div ng-if="annotating">
        <a class="btn" href="#" ng-click="saveAnnotation()"><i class="typ typ-tick-outline" ng-hide="savingAnnotation"></i><i class="spinner-loading dark" ng-show="savingAnnotation"></i><span>Save Annotation</span></a>
        <a class="btn" ng-class="{'active':annotationColorVisible}" href="#" ng-click="showAnnotationColor()"><i class="typ typ-media-record"></i><span>Pen Colour</span></a>
        <a class="btn" ng-class="{'active':annotationSizeVisible}" href="#" ng-click="showAnnotationSize()"><i class="typ typ-brush"></i><span>Pen Size</span></a>
        <a class="btn" href="#" ng-click="undoAnnotation()"><i class="typ typ-arrow-back"></i><span>Undo</span></a>
        <a class="btn" href="#" ng-click="restartAnnotation()"><i class="typ typ-trash"></i><span>Start Over</span></a>
        <a class="btn" href="#" ng-click="exitAnnotation()"><i class="typ typ-times"></i><span>Cancel</span></a>
    </div>

    <div ng-if="cropping">
        <a class="btn" href="#" ng-click="saveCrop()"><i class="typ typ-tick-outline" ng-hide="savingCrop"></i><i class="spinner-loading dark" ng-show="savingCrop"></i><span>Save Crop</span></a>
        <a class="btn" href="#" ng-click="exitCrop()"><i class="typ typ-times"></i><span>Cancel</span></a>
    </div>

    <div ng-hide="cropping || annotating">
        <a class="btn" href="#" ng-click="showTextDialog()"><i class="typ typ-sort-alphabetically"></i><span>Text Recognition</span></a>
        <a class="btn" href="#" ng-click="showEmbedDialog()"><i class="typ typ-code"></i><span>Embed</span></a>
        <a class="btn" href="#" ng-click="shareOnFb()"><i class="typ typ-social-facebook"></i><span>Share</span></a>
        <a class="btn" href="#" ng-click="shareOnTwitter()"><i class="typ typ-social-twitter"></i><span>Tweet</span></a>

        <hr/>

        <div ng-if="user && user.userId === image.userId">
            <a class="btn" href="#" ng-click="annotate()"><i class="typ typ-brush"></i><span>Annotate</span></a>
            <a class="btn" href="#" ng-click="crop()"><i class="typ typ-scissors-outline"></i><span>Crop</span></a>
            <a class="btn" href="#" ng-click="rotate()"><i class="typ typ-arrow-sync-outline" ng-hide="rotating"></i><i class="spinner-loading dark" ng-show="rotating"></i><span>Rotate</span></a>
            <a class="btn" href="#" ng-if="image.hasOriginal" ng-click="revert()"><i class="typ typ-arrow-back" ng-hide="reverting"></i><i class="spinner-loading dark" ng-show="reverting"></i><span>Revert To Original</span></a>
            <a class="btn" href="#" ng-click="showPrivacyDialog()"><i class="typ typ-lock-closed"></i><span>Privacy</span></a>
            <a class="btn" href="#" ng-click="delete()"><i class="typ typ-trash" ng-hide="deleting"></i><i class="spinner-loading dark" ng-show="deleting"></i><span>Delete</span></a>
        </div>
        <div ng-if="!user || user.userId !== image.userId">
            <a class="btn" href="#" ng-click="showReportDialog()"><i class="typ typ-flag"></i><span>Report</span></a>
        </div>
    </div>

</div>
<div ng-if="doodle" ng-show="annotationColorVisible" class="ng-hide img-submenu sidebar sidebar-left sidebar-float annotation-color">
    <a class="btn" ng-repeat="color in annotationColors" ng-class="{'active':doodle.color === '#'+color}" ng-click="setAnnotationColor(color)"><i class="typ typ-media-record" ng-style="{color: '#'+color}"></i></a>
</div>
<div ng-if="doodle" ng-show="annotationSizeVisible" class="ng-hide img-submenu sidebar sidebar-left sidebar-float annotation-size">
    <a class="btn" ng-repeat="size in annotationSizes" ng-class="{'active':doodle.lineThickness === size}" href="#" ng-click="setAnnotationSize(size)"><i ng-style="{height:size+'px'}"></i></a>
</div>

<div class="sidebar sidebar-right img-right-sidebar sidebar-scrolling" ng-if="albumImages.length > 0">
    <div class="scroller">
    <ul>
        <li>In This Album</li>
        <li ng-repeat="albumImage in albumImages" ng-class="{active: imageId == albumImage.imageId}">
            <a ui-sref="image({ imageId: albumImage.imageId, albumId: albumId })"><img ng-src="{{ albumImage.thumbnail.url }}" /></a>
        </li>
    </ul>
    </div>
</div>
